
.login-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--wa-bg-app);
    /* Fondo gris global */
    position: relative;
}


.login-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 222px;
    background-color: var(--wa-primary);
    z-index: 0;
}


.login-card {
    background-color: white;
    padding: 50px 40px;
    border-radius: 3px;
    box-shadow: 0 17px 50px 0 rgba(11, 20, 26, .19), 0 12px 15px 0 rgba(11, 20, 26, .24);
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 400px;
}

.login-title {
    font-size: 28px;
    font-weight: 300;
    color: #41525d;
    margin-bottom: 30px;
    text-align: center;
}


.login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.login-input {
    padding: 10px 5px;
    font-size: 18px;
    border: none;
    border-bottom: 2px solid var(--wa-primary);
    outline: none;
    background: transparent;
    color: var(--text-main);
    transition: border-bottom-color 0.2s;
}

.login-input::placeholder {
    color: #aebac1;
}


.login-btn {
    background-color: var(--wa-primary);
    color: white;
    border: none;
    padding: 12px;
    border-radius: 24px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.1s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.login-btn:hover {
    background-color: var(--wa-primary-dark);
}

.login-btn:active {
    transform: scale(0.98);
}