
:root {
    --wa-primary: #00a884;
    --wa-primary-dark: #008069;
    --wa-bg-app: #d1d7db;
    --wa-bg-sidebar: #ffffff;
    --wa-bg-chat: #efeae2;

    --wa-msg-in: #ffffff;

    --wa-msg-out: #d9fdd3;

    --text-main: #111b21;

    --text-muted: #667781;

    --border-color: #e9edef;

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
    background-color: var(--wa-bg-app);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}



.whatsapp-clone-app {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: var(--wa-bg-sidebar);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .06), 0 2px 5px 0 rgba(0, 0, 0, .2);
}


@media (min-width: 1024px) {
    .whatsapp-clone-app {
        width: 95vw;
        max-width: 1600px;
        height: 95vh;
        border-radius: 4px;
        position: relative;
        z-index: 1;
    }


    body::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 127px;
        background-color: var(--wa-primary);
        z-index: 0;
    }
}


.sidebar {
    flex: 30%;
    min-width: 300px;
    max-width: 415px;
    border-right: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
    background-color: var(--wa-bg-sidebar);
}


.conversation-view {
    flex: 70%;
    display: flex;
    flex-direction: column;
    background-color: var(--wa-bg-chat);

    background-image: url('https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png');
    background-repeat: repeat;
    background-size: contain;
}


::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}


::-webkit-scrollbar-track {
  background: transparent; 
}


::-webkit-scrollbar-thumb {
  background: rgba(17, 27, 33, 0.2); 
  border-radius: 10px;
}


::-webkit-scrollbar-thumb:hover {
  background: rgba(17, 27, 33, 0.3); 
}